<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>NodeKart - Seller | Change Password</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../../../dist/font-awesome/css/font-awesome.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="../../plugins/datatables/dataTables.bootstrap.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script src="../../../../plugins/jQuery/jQuery-2.1.4.js"></script>

  <script src="../../../../dist/formValidation/formValidation.min.js"></script>
  <script src="../../../../dist/formValidation/framework/bootstrap.min.js"></script>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  {{> seller/header}}
  <!-- Left side column. contains the logo and sidebar -->
  {{> seller/sidebar-left}}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 1126px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Change Password
      </h1>
      <ol class="breadcrumb">
        <li><a href="../../../../seller"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="../../../../seller/account"><i class="fa fa-dashboard"></i> Account</a></li>
        <li class="active">Change Password</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">

         {{> seller/account-sidebar}}

        </div>
        <!-- /.col -->
        <div class="col-md-8">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <!-- form start -->
            <form id="basicPasswordForm" class="form-horizontal" method="post" action="">
              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-3 control-label">Current Password</label>

                  <div class="col-sm-8">
                    <input type="password" class="form-control" name="curpassword" >
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">New Password</label>

                  <div class="col-sm-8">
                    <input type="password" class="form-control" name="password" >
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Confirm Password</label>

                  <div class="col-sm-8">
                    <input type="password" class="form-control" name="cfmpassword" >
                  </div>
                </div>

              </div>
              <br><br>
              <!-- /.box-body -->
              <div class="box-footer">
                <a href="../../../../seller/account" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Update</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {{> seller/footer }}
  
</div>
<!-- ./wrapper -->

<!--
<script src="../../plugins/jQuery/jQuery-2.2.0.min.js"></script>
-->
<!-- Bootstrap 3.3.6 -->
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../../plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>

<script>
$(document).ready(function() {

  FormValidation.Validator.securePassword = {
        validate: function(validator, $field, options) {
            var value = $field.val();
            if (value === '') {
                return true;
            }

            // Check the password strength
            if (value.length < 8) {
                return {
                    valid: false,
                    message: 'The password must be more than 8 characters long'
                };
            }


            return true;
        }
    };


    $('#basicPasswordForm').formValidation({
        framework: 'bootstrap',
        excluded: [':disabled'],
        icon: {
              valid: 'fa fa-check',
              invalid: 'fa fa-times',
              validating: 'fa fa-refresh'
        },
        fields: {

            curpassword: {
                validators: {
                    notEmpty: {
                        message: 'Current Password is required'
                    },
                    securePassword: {
                        message: 'Current Password is not valid'
                    }
                }
            },

            password: {
                validators: {
                    notEmpty: {
                        message: 'New Password is required'
                    },
                    securePassword: {
                        message: 'New Password is not valid'
                    }
                }
            },

            cfmpassword: {
                validators: {
                    notEmpty: {
                        message: 'Confirm password is required'
                    },
                    identical: {
                    field: 'password',
                    message: ' Confirm Password is not same'
                    },
                    securePassword: {
                        message: 'Confirm password is not valid'
                    }
                },
            }            

        }
    })

});
</script>

<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>
</body>
</html>
