<!DOCTYPE html>
<html class="no-js" lang="">


<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Nodekart - Change Password</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,700,400italic,700italic&amp;subset=latin,vietnamese">

    <link rel="stylesheet" href="../../../../front-end/css/bootstrap.css">

    <link rel="stylesheet" href="../../../../front-end/css/plugins.css">

    <link rel="stylesheet" href="../../../../front-end/css/styles.css">

    <script src="../../../../front-end/js/vendor.js"></script>

    <script>
        window.SHOW_LOADING = false;
    </script>

  <script src="../../../../plugins/jQuery/jQuery-2.1.4.js"></script>

  <script src="../../../../dist/formValidation/formValidation.min.js"></script>
  <script src="../../../../dist/formValidation/framework/bootstrap.min.js"></script>


</head>

<body>



    <div id="wrapper" class="main-wrapper ">

    {{> shop/header}}
        <!-- /.awe-menubar-header -->


        <div id="main">

            <div class="main-header background background-image-heading-blog">
                <div class="container">
                    <h1>CHANGE PASSWORD</h1>
                </div>
            </div>


            <div id="breadcrumb">
                <div class="container">
                    <ol class="breadcrumb">
                        <li><a href="../../../../">Home</a>
                        </li>
                        <li><a href="../../../../account">Account</a>
                        </li>
                        <li class="active"><span>Change Password</span>
                        </li>
                    </ol>
                </div>
            </div>


            <div class="blog-wrapper blog-sidebar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-md-push-3">


        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <!-- form start -->
            <form id="basicPasswordForm" class="form-horizontal" method="post" action="">
              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Current Password</label>

                  <div class="col-sm-10">
                    <input type="password" class="form-control" name="curpassword" >
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">New Password</label>

                  <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" >
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Confirm Password</label>

                  <div class="col-sm-10">
                    <input type="password" class="form-control" name="cfmpassword" >
                  </div>
                </div>

              </div>
              <br><br>
              <!-- /.box-body -->
              <div class="box-footer">
                <a href="../../../../account" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Update</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
        </div>


               
                        </div>

                        <div class="col-md-3 col-md-pull-9">

                            <div id="widget-area" class="widget-area">

                                <div class="widget widget_categories">
                                    <h3 class="widget-title">Manage Profile</h3>

                                    <ul>
                                        <li><a href="../../../../account" title="">Account</a>
                                        </li>
                                        <li class="current"><a href="../../../../account/change-password" title="">Change Password</a>
                                        </li>
                                        <li><a href="../../../../orders" title="">Orders</a>
                                        </li>
                                        </li>
                                    </ul>
                                </div>


                            </div>

                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.blog-wrapper -->

        </div>


        {{> shop/footer}}
        <!-- /footer -->

    </div>
    <!-- /#wrapper -->


    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>

    <script src="../../../../front-end/js/jquery-ui.min.1.11.4.js"></script>

    <script src="../../../../front-end/js/plugins.js"></script>

    <script src="../../../../front-end/js/main.js"></script>

    <script src="../../../../front-end/js/docs.js"></script>

<script>
$(document).ready(function() {

  FormValidation.Validator.securePassword = {
        validate: function(validator, $field, options) {
            var value = $field.val();
            if (value === '') {
                return true;
            }

            // Check the password strength
            if (value.length < 8) {
                return {
                    valid: false,
                    message: 'The password must be more than 8 characters long'
                };
            }


            return true;
        }
    };


    $('#basicPasswordForm').formValidation({
        framework: 'bootstrap',
        excluded: [':disabled'],
        icon: {
              valid: 'fa fa-check',
              invalid: 'fa fa-times',
              validating: 'fa fa-refresh'
        },
        fields: {

            curpassword: {
                validators: {
                    notEmpty: {
                        message: 'Current Password is required'
                    },
                    securePassword: {
                        message: 'Current Password is not valid'
                    }
                }
            },

            password: {
                validators: {
                    notEmpty: {
                        message: 'New Password is required'
                    },
                    securePassword: {
                        message: 'New Password is not valid'
                    }
                }
            },

            cfmpassword: {
                validators: {
                    notEmpty: {
                        message: 'Confirm password is required'
                    },
                    identical: {
                    field: 'password',
                    message: ' Confirm Password is not same'
                    },
                    securePassword: {
                        message: 'Confirm password is not valid'
                    }
                },
            }            

        }
    })

});
</script>

</body>


</html>
