
                                <li>
                                    <a href="../../../../cart" title="" class="awemenu-icon menu-shopping-cart">
                                        <i class="icon icon-shopping-bag"></i>

                                        {{#if cart}}
                                        <span class="cart-number">{{cart.count}}</span>
                                        {{else}}

                                        {{/if}}
                                    </a>

                                </li>
