<footer class="footer">
            <div class="footer-wrapper">
                <div class="footer-widgets">


                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12 col-sm-6">

                                        <div class="widget">
                                            <h3 class="widget-title">ABOUT NODEKART</h3>

                                            <div class="widget-content">
                                                <p>Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit. Cras neque nulla, convallis non commodo et, euismod nonsese.</p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-12 col-sm-6">

                                        <div class="widget">
                                            <h3 class="widget-title">WE CAN HELP YOU?</h3>

                                            <div class="widget-content">
                                                <p>Phone 1: 8 (495) 989—20—11</p>
                                                <p>Phone 2: 8 (800) 875—05—26</p>
                                                <p>Open - Close: 09:00-21:00</p>
                                                <p>Mail: 123123213@gmail.com</p>
                                            </div>
                                        </div>
                                        <!-- /.widget -->

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-6">

                                <div class="widget">
                                    <h3 class="widget-title">Shopping</h3>

                                    <ul>
                                        <li><a href="#" title="">Your Cart</a>
                                        </li>
                                        <li><a href="#" title="">Your Orders</a>
                                        </li>
                                        <li><a href="#" title="">Compared Items</a>
                                        </li>
                                        <li><a href="#" title="">Wishlist Items</a>
                                        </li>
                                        <li><a href="#" title="">Shipping Detail</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.widget -->

                            </div>

                            <div class="col-md-2 col-sm-6">

                                <div class="widget">
                                    <h3 class="widget-title">MORE LINK</h3>

                                    <ul>
                                        <li><a href="#" title="">Blog</a>
                                        </li>
                                        <li><a href="#" title="">Gift Center</a>
                                        </li>
                                        <li><a href="#" title="">Buying Guides</a>
                                        </li>
                                        <li><a href="#" title="">New Arrivals</a>
                                        </li>
                                        <li><a href="#" title="">Clearance</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.widget -->

                            </div>

                            <div class="col-md-4">

                                <div class="widget">
                                    <h3 class="widget-title">Are You Like Me</h3>

                                    <ul class="list-socials">
                                        <li><a href="#" title=""><i class="icon icon-twitter"></i></a>
                                        </li>
                                        <li><a href="#" title=""><i class="icon icon-facebook"></i></a>
                                        </li>
                                        <li><a href="#" title=""><i class="icon icon-google-plus"></i></a>
                                        </li>
                                        <li><a href="#" title=""><i class="icon icon-pinterest"></i></a>
                                        </li>
                                    </ul>
                                </div>



                                <div class="widget">
                                    <h3 class="widget-title">PAYMENT ACCEPT</h3>

                                    <ul class="list-socials">
                                        <li>
                                            <a href="#" title="">
                                                <i class="fa fa-cc-paypal"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" title="">
                                                <i class="fa fa-cc-visa"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" title="">
                                                <i class="fa fa-cc-amex"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.widget -->

                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.footer-widgets -->

                <div class="footer-copyright">
                    <div class="container">
                        <div class="copyright">
                            <p>Copyright &copy; 2016 NodeKart - All Rights Reserved.</p>
                        </div>

                        <div class="footer-nav">
                            <nav>
                                <ul>
                                    <li><a href="#" title="">Contact Us</a>
                                    </li>
                                    <li><a href="#" title="">Term of Use</a>
                                    </li>
                                    <li><a href="#" title="">Privacy Policy</a>
                                    </li>
                                    <li><a href="#" title="">Site Map</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- /.footer-copyright -->
            </div>
            <!-- /.footer-wrapper -->

            <a href="#" class="back-top" title="">
                <span class="back-top-image">
                    <img src="../../../../front-end/img/back-top.png" alt="">
                </span>

                <small>Back top top</small>
            </a>
            <!-- /.back-top -->
        </footer>
