<header id="header" class="awe-menubar-header">
            <nav class="awemenu-nav headroom" data-responsive-width="1200">
                <div class="container">
                    <div class="awemenu-container">

                        <div class="navbar-header">


            
            {{#if user}}

                  <ul class="navbar-icons">


                                <li class="menubar-account" style="height:80px">
                                    <a href="#" title="" class="awemenu-icon">
                                        <span style="display: inline-block;width: 80px;white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;margin: 0px;padding: 0px;font-size:16px;}" class="userauth">&nbsp;{{user.fname}}</span>

                                    </a>

                                    <ul class="submenu megamenu">
                                        <li>
                                            <div class="container-fluid">
                                                <div class="header-account">

                                                    <ul>
                                                        <li><a href="../../../../account">Account</a>
                                                        </li>
                                                        <li><a href="../../../../account/orders">Orders</a>
                                                        </li>
                                                        <li><a href="../../../../logout">Logout</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>


                                {{> shop/cart}}


                            </ul>
            {{else}}
              <ul class="navbar-icons">


                                <li>

                                        <i class="icon "></i> <a style="padding:0px 10px;" href="../../../../login" title="">Login</a> | <a style="padding:0px 10px;" href="../../../../register" title="">Register</a> |


                                </li>

                                {{> shop/cart}}


                            </ul>
            {{/if}}



                            <ul class="navbar-search">
                                <li>
                                    <a href="#" title="" class="awemenu-icon awe-menubar-search" id="open-search-form">
                                        <span class="sr-only">Search</span>
                                        <span class="icon icon-search"></span>
                                    </a>

                                    <div class="menubar-search-form" id="menubar-search-form">
                                        <form action="http:../../../../search" method="POST">
                                            <input type="text" name="q" class="form-control" placeholder="Search your entry here...">
                                            <div class="menubar-search-buttons">
                                                <button type="submit" class="btn btn-sm btn-white">Search</button>
                                                <button type="button" class="btn btn-sm btn-white" id="close-search-form">
                                                    <span class="icon icon-remove"></span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.menubar-search-form -->
                                </li>
                            </ul>

                        </div>

                        <div class="awe-logo">
                            <a href="../../../../" title="">
                                <img src="../../../../front-end/img/logo.png" alt="">
                            </a>
                        </div>
                        <!-- /.awe-logo -->


                        <ul class="awemenu awemenu-left">

                            <li class="awemenu-item">
                                <a href="../../../../shop/men" title="">
                                    <span>Men</span>
                                </a>
                            </li>
                            <li class="awemenu-item">
                                <a href="../../../../shop/women" title="">
                                    <span>Women</span>
                                </a>
                            </li>
                            <li class="awemenu-item">
                                <a href="../../../../shop/kids" title="">
                                    <span>Kids</span>
                                </a>
                            </li>

<!--                        
                            <li class="awemenu-item">
                                <a href="#" title="">
                                    <span>Clothing</span>
                                </a>

                                <ul class="awemenu-submenu awemenu-megamenu" data-width="100%" data-animation="fadeup">
                                    <li class="awemenu-megamenu-item">
                                        <div class="container-fluid">
                                            <div class="awemenu-megamenu-wrapper">

                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <h2 class="upper">Clothing</h2>

                                                        <ul class="super">
                                                            <li><a href="#" title="">Bestseller</a>
                                                            </li>
                                                            <li><a href="#" title="">New Arrivals</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-lg-3">
                                                        <ul class="sublist">
                                                            <li><a href="#" title="">Blazers &amp; Vests</a>
                                                            </li>
                                                            <li><a href="#" title="">Graphics Tees</a>
                                                            </li>
                                                            <li><a href="#" title="">Jeans</a>
                                                            </li>
                                                            <li><a href="#" title="">Jackets &amp; Outerwear</a>
                                                            </li>
                                                            <li><a href="#" title="">Pants</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-lg-3">
                                                        <ul class="sublist">
                                                            <li><a href="#" title="">Shirts</a>
                                                            </li>
                                                            <li><a href="#" title="">Short &amp; Swim</a>
                                                            </li>
                                                            <li><a href="#" title="">Tees</a>
                                                            </li>
                                                            <li><a href="#" title="">Underwear &amp; Socks</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-lg-3">
                                                        <div class="awe-media inline margin-bottom-25">
                                                            <div class="awe-media-image">
                                                                <a href="#" title="">
                                                                    <img src="../../../../front-end/img/samples/menu/trending-shop.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <h4 class="awe-media-title medium upper center">
                                                            <a href="#" title="">The trend shop</a>
                                                        </h4>
                                                        </div>

                                                        <div class="awe-media inline">
                                                            <div class="awe-media-image">
                                                                <a href="#" title="">
                                                                    <img src="../../../../front-end/img/samples/menu/shirt-shop.jpg" alt="">
                                                                </a>
                                                                <div class="awe-media-overlay overlay-dark-50 fullpage">
                                                                    <div class="fp-table">
                                                                        <div class="fp-table-cell center">
                                                                            <a href="#" class="btn btn-white">Show now</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h4 class="awe-media-title medium upper center">
                                                            <a href="#" title="">Shirt shop</a>
                                                        </h4>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="bottom-link">
                                                    <a href="#" class="btn btn-lg btn-dark btn-outline">
                                                        <span>Shop All Clothing</span>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <li class="awemenu-item">
                                <a href="#" title="">
                                    <span>Shoes</span>
                                </a>

                                <ul class="awemenu-submenu awemenu-megamenu" data-width="100%" data-animation="fadeup">
                                    <li class="awemenu-megamenu-item">
                                        <div class="container-fluid">
                                            <div class="awemenu-megamenu-wrapper">

                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <h2 class="upper">Shoes</h2>

                                                        <ul class="super">
                                                            <li><a href="#" title="">Bestseller</a>
                                                            </li>
                                                            <li><a href="#" title="">New Arrivals</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-lg-3">
                                                        <ul class="sublist">
                                                            <li><a href="#">Boat Shoes</a>
                                                            </li>
                                                            <li><a href="#">Boots</a>
                                                            </li>
                                                            <li><a href="#">Casual Shoes</a>
                                                            </li>
                                                            <li><a href="#">Dress Shoes</a>
                                                            </li>
                                                            <li><a href="#">Sneakers</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-lg-3">
                                                        <div class="sublist">
                                                            <p>Shop Size</p>
                                                            <ul class="numbers-list">
                                                                <li><a href="#">7</a>
                                                                </li>
                                                                <li><a href="#">7.5</a>
                                                                </li>
                                                                <li><a href="#">7.5</a>
                                                                </li>
                                                                <li><a href="#">8</a>
                                                                </li>
                                                                <li><a href="#">8.5</a>
                                                                </li>
                                                                <li><a href="#">9</a>
                                                                </li>
                                                                <li><a href="#">10</a>
                                                                </li>
                                                                <li><a href="#">10.5</a>
                                                                </li>
                                                                <li><a href="#">11</a>
                                                                </li>
                                                                <li><a href="#">11.5</a>
                                                                </li>
                                                                <li><a href="#">12</a>
                                                                </li>
                                                                <li><a href="#">13</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-3">
                                                        <div class="awe-media inline margin-bottom-25">
                                                            <div class="awe-media-image">
                                                                <a href="#" title="">
                                                                    <img src="../../../../front-end/img/samples/menu/trending-shoes.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <h4 class="awe-media-title medium upper center">
                                                            <a href="#" title="">Hot trend shoes</a>
                                                        </h4>
                                                        </div>

                                                        <div class="awe-media inline">
                                                            <div class="awe-media-image">
                                                                <a href="#" title="">
                                                                    <img src="../../../../front-end/img/samples/menu/dress-shoes.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <h4 class="awe-media-title medium upper center">
                                                            <a href="#" title="">Dress shoes shop</a>
                                                        </h4>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="bottom-link">
                                                    <a href="#" class="btn btn-lg btn-dark btn-outline">
                                                        <span>Shop All Shoes</span>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <li class="awemenu-item">
                                <a href="#" title="">
                                    <span>Accessories</span>
                                </a>

                                <ul class="awemenu-submenu awemenu-megamenu" data-width="100%" data-animation="fadeup">
                                    <li class="awemenu-megamenu-item">
                                        <div class="container-fluid">
                                            <div class="awemenu-megamenu-wrapper">

                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <h2 class="upper">Shoes</h2>

                                                        <ul class="super">
                                                            <li><a href="#" title="">Bestseller</a>
                                                            </li>
                                                            <li><a href="#" title="">New Arrivals</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-lg-3">
                                                        <ul class="sublist">
                                                            <li><a href="#" title="#">Bags</a>
                                                            </li>
                                                            <li><a href="#" title="#">Belts</a>
                                                            </li>
                                                            <li><a href="#" title="#">Grooming</a>
                                                            </li>
                                                            <li><a href="#" title="#">Hats</a>
                                                            </li>
                                                            <li><a href="#" title="#">Jewelry</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-lg-3">
                                                        <ul class="sublist">
                                                            <li><a href="#" title="">Scarves &amp; Glovers</a>
                                                            </li>
                                                            <li><a href="#" title="">Wallets</a>
                                                            </li>
                                                            <li><a href="#" title="">Watches</a>
                                                            </li>
                                                            <li><a href="#" title="">Glasses</a>
                                                            </li>
                                                            <li><a href="#" title="">Zippo</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-lg-3">
                                                        <div class="awe-media inline margin-bottom-25">
                                                            <div class="awe-media-image">
                                                                <a href="#" title="">
                                                                    <img src="../../../../front-end/img/samples/menu/trending-accessories.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <h4 class="awe-media-title medium upper center">
                                                            <a href="#" title="">Hot Trend Accessories</a>
                                                        </h4>
                                                        </div>

                                                        <div class="awe-media inline">
                                                            <div class="awe-media-image">
                                                                <a href="#" title="">
                                                                    <img src="../../../../front-end/img/samples/menu/new-arrivals.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <h4 class="awe-media-title medium upper center">
                                                            <a href="#" title="">New Arrivals Swatch</a>
                                                        </h4>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="bottom-link">
                                                    <a href="#" class="btn btn-lg btn-dark btn-outline">
                                                        <span>Shop All Accessories</span>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>



                            <li class="awemenu-item">
                                <a href="#" title="">
                                    <span>Brand</span>
                                </a>

                                <ul class="awemenu-submenu awemenu-megamenu" data-width="100%" data-animation="fadeup">
                                    <li class="awemenu-megamenu-item">
                                        <div class="container-fluid">
                                            <div class="awemenu-megamenu-wrapper">

                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <h2 class="upper">Brand</h2>
                                                    </div>

                                                    <div class="col-lg-3">
                                                        <ul class="sublist">
                                                            <li><a href="#" title="">Dr.Matten</a>
                                                            </li>
                                                            <li><a href="#" title="">The Police</a>
                                                            </li>
                                                            <li><a href="#" title="">Adidas</a>
                                                            </li>
                                                            <li><a href="#" title="">Like</a>
                                                            </li>
                                                            <li><a href="#" title="">The Sandiago</a>
                                                            </li>
                                                            <li><a href="#" title="">Pollo</a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-lg-3">
                                                        <div class="sublist">
                                                            <p>Brand</p>
                                                            <ul class="numbers-list">
                                                                <li><a href="#" title="">A</a>
                                                                </li>
                                                                <li><a href="#" title="">B</a>
                                                                </li>
                                                                <li><a href="#" title="">C</a>
                                                                </li>
                                                                <li><a href="#" title="">D</a>
                                                                </li>
                                                                <li><a href="#" title="">E</a>
                                                                </li>
                                                                <li><a href="#" title="">F</a>
                                                                </li>
                                                                <li><a href="#" title="">G</a>
                                                                </li>
                                                                <li><a href="#" title="">H</a>
                                                                </li>
                                                                <li><a href="#" title="">I</a>
                                                                </li>
                                                                <li><a href="#" title="">J</a>
                                                                </li>
                                                                <li><a href="#" title="">K</a>
                                                                </li>
                                                                <li><a href="#" title="">L</a>
                                                                </li>
                                                                <li><a href="#" title="">M</a>
                                                                </li>
                                                                <li><a href="#" title="">N</a>
                                                                </li>
                                                                <li><a href="#" title="">O</a>
                                                                </li>
                                                                <li><a href="#" title="">P</a>
                                                                </li>
                                                                <li><a href="#" title="">Q</a>
                                                                </li>
                                                                <li><a href="#" title="">R</a>
                                                                </li>
                                                                <li><a href="#" title="">S</a>
                                                                </li>
                                                                <li><a href="#" title="">T</a>
                                                                </li>
                                                                <li><a href="#" title="">U</a>
                                                                </li>
                                                                <li><a href="#" title="">V</a>
                                                                </li>
                                                                <li><a href="#" title="">W</a>
                                                                </li>
                                                                <li><a href="#" title="">X</a>
                                                                </li>
                                                                <li><a href="#" title="">Y</a>
                                                                </li>
                                                                <li><a href="#" title="">Z</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-3">
                                                        <div class="awe-media inline margin-bottom-25">
                                                            <div class="awe-media-image">
                                                                <a href="#" title="">
                                                                    <img src="../../../../front-end/img/samples/menu/horosen-shop.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <h4 class="awe-media-title medium upper center">
                                                            <a href="#" title="">Horosen shop</a>
                                                        </h4>
                                                        </div>

                                                        <div class="awe-media inline">
                                                            <div class="awe-media-image">
                                                                <a href="#" title="">
                                                                    <img src="../../../../front-end/img/samples/menu/police-shop.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <h4 class="awe-media-title medium upper center">
                                                            <a href="#" title="">The police shop</a>
                                                        </h4>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="bottom-link">
                                                    <a href="#" class="btn btn-lg btn-dark btn-outline">
                                                        <span>Shop All Accessories</span>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <li class="awemenu-item">
                                <a href="#" title="">Pages</a>

                                <ul class="awemenu-submenu awemenu-megamenu" data-width="100%" data-animation="fadeup">
                                    <li class="awemenu-megamenu-item">
                                        <div class="container-fluid">

                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <ul class="list-unstyled">
                                                        <li class="awemenu-item">
                                                            <a href="index-2.html" title="">Home Page</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="index2.html" title="">Home Page 2</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="index3.html" title="">Home Page 3</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="index4.html" title="">Home Page 4</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="index-header-1.html" title="">Home with header style 1</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="index-header-2.html" title="">Home with header style 2</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="index-header-3.html" title="">Home with header style 3</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="index-header-4.html" title="">Home with header style 4</a>
                                                        </li>

                                                    </ul>
                                                </div>

                                                <div class="col-lg-3">
                                                    <ul class="list-unstyled">
                                                        <li class="awemenu-item">
                                                            <a href="index-empty.html" title="">Home with empty cart</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="index-footer-style.html" title="">Home with footer style</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="about-us.html" title="">About us</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="blog-left.html" title="">Blog left</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="blog-right.html" title="">Blog right</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="blog-nobar.html" title="">Blog nobar</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="blog-masonry.html" title="">Blog masonry</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="blog-detail.html" title="">Blog details</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="col-lg-3">
                                                    <ul class="list-unstyled">
                                                        <li class="awemenu-item">
                                                            <a href="404.html" title="">404</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="comming-soon.html" title="">Comming soon</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="contact.html" title="">Contact</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="portfolio-main-style1.html" title="">Portfolio 1</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="portfolio-main-style2.html" title="">Portfolio 2</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="portfolio-main-stylepicture-grid.html" title="">Portfolio 3</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="portfolio-main-stylepicture-masonry.html" title="">Portfolio 4</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="portfolio-detail.html" title="">Portfolio details</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="col-lg-3">
                                                    <ul class="list-unstyled">
                                                        <li class="awemenu-item">
                                                            <a href="customers-say.html" title="">Customers Say</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="lookbook.html" title="">Lookbook</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="lookbook-details.html" title="">Lookbook details</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="products-grid.html" title="">Product grid</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="products-list.html" title="">Product list</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="product-detail.html" title="">Product detail</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="product-fullwidth.html" title="">Product detail 2</a>
                                                        </li>

                                                        <li class="awemenu-item">
                                                            <a href="checkout.html" title="">Checkout</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <li class="awemenu-item">
                                <a href="#">Elements</a>

                                <ul class="awemenu-submenu awemenu-megamenu" data-width="650px" data-animation="fadeup">
                                    <li class="awemenu-megamenu-item">

                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <ul class="list-unstyled">
                                                        <li class="awemenu-item"><a href="elements-alert.html">Alert</a>
                                                        </li>
                                                        <li class="awemenu-item"><a href="elements-background.html">Background</a>
                                                        </li>
                                                        <li class="awemenu-item"><a href="elements-bar.html">Bar (Progress)</a>
                                                        </li>
                                                        <li class="awemenu-item"><a href="elements-box.html">Box</a>
                                                        </li>
                                                        <li class="awemenu-item"><a href="elements-buttons.html">Buttons</a>
                                                        </li>
                                                        <li class="awemenu-item"><a href="elements-forms.html">Form Fields</a>
                                                        </li>
                                                        <li class="awemenu-item"><a href="elements-grid.html">Grid</a>
                                                        </li>
                                                        <li class="awemenu-item"><a href="elements-page-title.html">Page Title</a>
                                                        </li>
                                                        <li class="awemenu-item"><a href="elements-maps.html">Maps</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="col-lg-6">
                                                    <ul class="list-unstyled">
                                                        <li class="awemenu-item"><a href="elements-aweicon.html">Icons (Aweicon)</a>
                                                        </li>
                                                        <li class="awemenu-item"><a href="elements-glyphicon.html">Icons (Glyphicon)</a>
                                                        </li>
                                                        <li class="awemenu-item"><a href="elements-fontawesome.html">Icons (FontAwesome)</a>
                                                        </li>
                                                        <li class="awemenu-item"><a href="elements-carousel.html">Carousel</a>
                                                        </li>
                                                        <li class="awemenu-item"><a href="elements-tabs.html">Tabs</a>
                                                        </li>
                                                        <li class="awemenu-item"><a href="elements-typography.html">Typography</a>
                                                        </li>
                                                        <li class="awemenu-item"><a href="elements-video-sound.html">Video / Sound</a>
                                                        </li>
                                                        <li class="awemenu-item"><a href="elements-divider.html">Divider</a>
                                                        </li>
                                                        <li class="awemenu-item"><a href="elements-counter.html">Counter</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                </ul>
                            </li>
-->
                        </ul>
                        <!-- /.awemenu -->
                    </div>
                </div>
                <!-- /.container -->

            </nav>
            <!-- /.awe-menubar -->
        </header>
